*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
  --fs-1: 3.8rem;
  --fs-2: 2.6rem;
  --fs-3: 2rem;
  --fs-4: 1.6rem;
  --fs-5: 1.8rem;
  --fs-6: 1.3rem;
  --fs-7: 1rem;

  --fw-600: 600;
  --fw-700: 700;
}



h1 { font-size: var(--fs-1); }

h2 { font-size: var(--fs-2); }

h3 { font-size: var(--fs-3); }

h4 { font-size: var(--fs-7); }


body{
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #c1f7f5;
    color: rgb(255, 255, 255);
}

header {
    background-image: url("/assets/images/banner.png");
    background-position: center;
    background-size: cover;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    background-color: white;
    color: rgb(250, 249, 249);
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.nav-links{
    order: 2;
    display: flex;
}

.nav-links li{
    list-style: none;
}

.logo img{
    margin-top: 20px;
    order: 1;
    width: 30px;
}

.nav-links li a{
    position: relative;
    color: rgb(254, 251, 251);
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
.nav-links li a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #34efdf;
    border-radius: 12px;
    transition: all 0.4s ease;
}
.nav-links li a:hover:before{
    width: 100%;
}
.nav-links li.center a:before{
    left: 50%;
    transform: translateX(-50%);
}
.nav-links li.upward a:before{
    width: 100%;
    bottom: -5px;
    opacity: 0;
}
.nav-links li.upward a:hover:before{
    bottom: 0px;
    opacity: 1;
}
.nav-links li.forward a:before{
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}
.nav-links li.forward a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

.navbar a:hover{
    color: #117964;
}

.banner {
    display: flex;
    width: 100%;
    height: 100vh; 
    align-items: center;
    justify-content: center;
}

.banner-content {
    text-align: center;
}

.services {
    background-image: url("/assets/images/banner2.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

@media (min-width: 1024px){
    :root {
        --fs-1: 3.8rem;
        --fs-2: 4.6rem;
        --fs-3: 3rem;
        --fs-4: 2.6rem;
        --fs-5: 1.8rem;
        --fs-6: 1.3rem;
        --fs-7: 1rem;
    }

    nav {
        display: flex;
    }
}
  

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .nav-links{
        /* padding-top: 100px; */
        background: rgb(222, 126, 8);
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .nav-links li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 1px;
        right: 1px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .nav-links{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}